@img2: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAscAAAAZAgMAAACgM2vLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURfrz6rWdaPDn19fIqMKQXZkAAACDSURBVFjD7dfLDYAgEATQAdSD8UBJUoFe6MMiKMDYhiVwogNL8seRBiaZreCF7M6yWAAcMyhq8IBJYCSbuPKQ+xheMjwPubN8ZKdXFrlBnvjIqL3MlMtWZJEb5PH8yHFjWtjlIbt8EeVy/cntIovMTrbf+HGR/1wWWWR28pAD34Vd0g1neT2g/FNtYQAAAABJRU5ErkJggg==';

.license {
  width: 580px;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  > img {
    width: 100%;
  }
  > .stretch {
    flex: 1;
    background: url(@img2) top/contain;
    padding: 0 40px;
    .textArea {
      resize: none;
      display: -webkit-box;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    :global {
      .ant-form-item {
        margin-bottom: 10px;
      }
    }
  }
  .ellip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
