.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  > .formStyle {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  > .footer {
    padding: 18px 36px;
    border-top: 1px solid rgba(232, 232, 232, 1);
  }
}
